
/* Barra vertical izquierda */
.barraVerticalIzquierda {
    height: auto;
    padding-bottom: 50px;
    background-color: rgba(38,38,38);
    color: #FFF;
}  

li {
    list-style: none;
}

button {
    outline: none!important;
    box-shadow: none!important;
}